// стилизация каждого слайда
.car-el {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    color: #000;
    margin: 0 15px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

// стили при нажатии на слайд
.car-el:focus {
    outline: none;
}

// стилизация частей слайда---------------
.logo {
    width: 100%;
    height: auto;
}

.car-el h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 15px 0 0 0;
}

.car-el p {
    font-size: 25px;
    margin: 15px 0 0 0;
}

.car-el a {
    align-self: flex-start;
    font-size: 23px;
    text-decoration: none;
    color: #000;
    margin: 15px 0 0 0;
}

.car-el a:hover {
    text-decoration: underline;
}
//------------------------------------------

// стилизация стрелок
.pointer {
    height: 30px;
    width: 25px;
    align-self: center;
    font-size: 30px;
    line-height: 20px;
    padding: 0;
    opacity: 0.6;
    border: none;
    background-color: inherit;
    outline: none;
}

.pointer:hover {
    opacity: 1;
}

// стилизация меню слайдера
.rec-dot {
    background-color: #BCBCBC !important;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 50%) !important;
    width: 38px !important;
    height: 8px !important;
    margin: 0 9px !important;

    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

.rec-dot_active {
    background-color: #fff !important;
}

@media screen and (max-width: 755px) {

    .car-el {
        max-width: 300px;
    }

}


@media screen and (max-width: 500px) {

    .car-el {
        margin: 0;
        max-width: 190px;
    }
    
    // стилизация частей слайда---------------
    .car-el h1 {
        font-size: 23px;
        margin-top: 10px;
    }

    .car-el p {
        font-size: 18px;
        margin-top: 10px;
    }

    .car-el a {
        font-size: 20px;
        margin-top: 10px;
    }
    //------------------------------------------

}

@media screen and (max-width: 400px) { 

    .car-el {
        padding: 20px;
    }

    // стилизация частей слайда---------------
    .car-el h1 {
        font-size: 20px;
    }

    .car-el p {
        font-size: 15px;
    }

    .car-el a {
        font-size: 18px;
    }
    //------------------------------------------

    .rec-dot {
        width: 30px !important;
        margin: 0 8px !important;
    }

}
